
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Us</h2>
<p>Welcome to our ecommerce website. We are a team of passionate individuals who are committed to providing the best shopping experience to our customers.</p>
<p>Our goal is to offer a wide range of high-quality products at affordable prices. We strive to make our website easy to use and navigate, and we are always looking for ways to improve our services.</p>
<p>If you have any questions or feedback, please don't hesitate to contact us. We are here to help you.</p>
