
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<a href="Account/login">Login</a>

@Html.ActionLink("Add New Product", "AddEditProduct", "Product")
@Html.ActionLink("Add New Category", "AddEditCategories", "Product")

